@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a {
    color: white;
    background-color: transparent;
    /*background-color: darkgrey;*/
}

.drawer-side a.active {
    color: yellow;
}